 // Import all partials

 @font-face {
     font-family: 'chapmanmedium';
     src: url('fonts/chapman-webfont.eot');
     src: url('fonts/chapman-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/chapman-webfont.woff2') format('woff2'),
          url('fonts/chapman-webfont.woff') format('woff'),
          url('fonts/chapman-webfont.ttf') format('truetype'),
          url('fonts/chapman-webfont.svg#chapmanmedium') format('svg');
     font-weight: normal;
     font-style: normal;
 }


body
  background-color #FFF

  p
    font-size 1rem
    text-align center
    font-family 'arial'

.row
  display: flex
  flex-flow: row nowrap
  flex: 1

.column
  display: flex
  flex-flow: column nowrap
  flex: 1
  align-items center

header.top
  text-align center
  font-family 'chapmanmedium'
  h1
    font-size 4rem
    line-height 1.5
    display flex
    justify-content center
  h3
    margin 0
    font-size 2rem
    font-weight 500px
    color #D21F9C
    position relative
    line-height 1.5
    display flex
    display inline-block


// Flower Selector

  .flower-selector
    .button-row
      margin-top 60px

    button
      width 90px
      height 90px
      border-radius 100%
      background #FF1744
      border none
      outline none
      font-size 2rem
      font-weight bold
      letter-spacing 0.5px
      font-family 'chapmanmedium'
      box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
      margin 0px 80px
      text-transform uppercase
      color #fff
      position relative
      z-index 2

    //  &.addTo



    //  &[disabled]

    //  &:hover

    //  &:hover, &:focus
